<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title!</title>
    <meta name="description" content="CRUD Application with sorting by priority" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body class="w3-light-grey">
<div class="w3-container w3-blue-grey w3-opacity w3-right-align">
    <h1>Title</h1>
</div>

<div class="w3-container w3-center">
    <div class="w3-bar w3-padding-large w3-padding-24">
        <button class="w3-btn w3-hover-green w3-round-large" onclick="location.href='page-create'">Add Page</button>
        <button class="w3-btn w3-hover-green w3-round-large" onclick="location.href='pages'">CONTENT</button>

    </div>
</div>
</body>
</html>